@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Roboto;
  background-color: wheat;
}

/* Card Div styles */
.cardDiv {
  height: 300px;
  width: 250px;
  background-color: rgb(247, 223, 180);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;

  border-radius: 10px;
  border: 1px solid orange;
}

.cardDiv:hover {
  box-shadow: 20px 0 50px rgba(255, 166, 0, 0.5),
    -20px 0 50px rgba(255, 166, 0, 0.5);
}

.imageDiv,
.nameDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 13rem;
  width: 100%;
  object-fit: cover;
}

.imageDiv {
  height: 13rem;
  width: 15rem;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  overflow: hidden;
}

.nameDiv {
  height: 5rem;
  width: 15rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  background-color: orange;
  color: white;
  font-size: 1.5rem;
}
/* ################################################################## */

.cardsContainer {
  max-width: 1550px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
}

.scoreBoard {
  height: 100px;
  width: 100%;
  background-color: orange;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.currentScore {
  font-size: 2.5rem;
}
.highestScore {
  font-size: 1.3rem;
}

.restartBtn {
  height: 40px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
